var/*
!var/.htaccess

pub/media/*
!pub/media/customer/.htaccess
!pub/media/downloadable/.htaccess
!pub/media/import/.htaccess
!pub/media/theme_customization/.htaccess
!pub/media/.htaccess

app/etc/*
!app/etc/di.xml
!app/etc/NonComposerComponentRegistration.php
!app/etc/vendor_path.php

.DS_Store
